sudo: required
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1  
before_install:
  - openssl aes-256-cbc -K $encrypted_05b8baf07ee6_key -iv $encrypted_05b8baf07ee6_iv -in sa-gcp-deployer.json.enc -out sa-gcp-deployer.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file=sa-gcp-deployer.json
  - gcloud config set project multi-k8s-362816
  - gcloud config set compute/zone europe-west4-c
  - gcloud container clusters get-credentials multi-cluster
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
  - docker build -t stanikl/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true stanikl/react-test npm test

deploy:
  provide: script
  script: bash ./deploy.sh
  on:
    branch: master